header{
    height: 80px;
    background-color:black;
    width: auto;
}

body{
    width: auto;
}

#logo{
    float: left;
    color: #C0C0C0;
    font: 30px Georgia;
    height: 20px;
    display: block;
    margin-left: 150px;
    margin-top: 20px;
}
h2{
    align-content: center;
}
label {
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: left;
}
input{
    width: 200px;
}


button {
    padding: 10px;
    margin: 10px;
}

#main-part{
    margin-left: 50px;
    margin-bottom: 20px;
}